NODE_ENV=development
PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
FASTAPI_TARGET=http://127.0.0.1:8000
PRODUCT_API_TARGET=http://127.0.0.1:8001
ACCESS_TOKEN_EXPIRE_MINUTES=30
LOGIN_TIMEOUT_MS=15000
PRODUCT_PROXY_TIMEOUT_MS=190000
RAG_PROXY_TIMEOUT_MS=190000
